/******** All pages *********/
body {
	width: 85%;
	margin: 1% auto;
	font-size: 0.8em;
}

/********* this block is for CSS menu setting *****************/
nav {
	background-color: navy;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li {
	float: left;
}

nav a:link, nav a:visited {
	display: block;
	color: #ffffff;
	background-color: navy;
	text-align: center;
	padding: 8px 12px;
	text-decoration: none;
	border-left: 1px inset #ecefec;
	border-right: 1px inset #ecefec;
}

nav ul li ul {
	padding: 8px 12px;
	position: absolute;
	display: none;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s;
}

nav ul li:hover ul {
	display: block;
	padding: 0;
	width: 150px;
	opacity: 1;
	visibility: visible;
}

nav ul li ul li {
	display: block;
	text-align: left;
	width: 150px;
}

nav a:hover {
	background-color: indigo;
	color: #ffffff;
}

nav a.current {
	background-color: indigo;
	color: white;
}
/************ end of CSS menu setting *****************/

section.main {
	padding: 1% 2%;
	margin: 1% 0;
	width: 60%; /* change to 95% if the aside section is removed */
	min-height: 380px;
	float: left;
	border: 1px solid #eeeeff;
}

div.content {
	background-color: #ededed;
	padding: 1% 2% 5% 2%;
	margin: 2% 0;
	clear: both;
	border: 1px solid #dddddd;
}

div.content p {
	text-indent: 0em;
}

div.content a {
	clear: both;
}
table tr:nth-child(odd) {
    background-color: #E0F8F7;
}
table tr:nth-child(even) {
   background-color: #fff;
}
table th	{
    background-color: teal;
    color: white;
}

td, th {
    padding: 0.5em 2em;
}
table { border: 1px solid #E0F8F7; }

footer {
	clear: both;
	background-color: navy;
	color: #ffffff;
	text-align: center;
	padding: 8px 12px;
}

label {
    float: left;
    display:inline-block;
    width: 8em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"] {  /* An attribute selector */
    width: 15em;
    margin-left: 0.5em;    
    margin-bottom: 0.5em;
}

input[type="submit"] {  /* An attribute selector */
    margin-left: 0.5em;    
    margin-bottom: 0.5em;
}

#logout {
	position: absolute;
	right: 5px;
	top: 5px
}

.right  { float:right; } 
